.layout-container .bottom-nav-container{
    margin-top: auto;
    width: 100%;
}

.layout-container .bottom-nav-wrap{
    width: 100%;
}

.layout-container .bottom-nav-item{
    align-items: center;
    background-color: #fff;
    border: 2px solid #ebebeb;
    border-radius: 16px 16px 0 0;
    box-shadow: 2px 4px 12px #00000014;
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
    position: relative;
    width: 100%;
    z-index: 50;
}

.bottom-nav-item a{
    align-items: center;
    color: #5b5b5b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 20%;
    text-decoration: none;
    font-size: 1rem;
}

.bottom-nav-tap{
    gap: .3rem;
}

.bottom-nav-item a i{
    font-size: 1.4rem
}

.bottom-nav-item a span{
    font-size: .8rem;
    font-weight: 400;
}